body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#Logo {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0px 10px;
  color: white;
}

.container {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding: 5em 0;
}

.container-left {
  display: flex;
  flex-direction: column;
  /* flex-basis: 30%; */
}

.container-left h1{
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}

.container-left p {
  margin: 0 auto;
  /* text-align: start; */
}

.container-left button {
  padding: 10px 20px;
  margin-top: 1em;
  border-radius: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  align-self: flex-start;
}

.container-right img {
  min-width: 500px;
  height: auto;
  margin-right: 5em;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.info-div header {
  display: block;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  margin: 1rem;
}

#card-group {
  display: flex;
  /* flex: 1 1; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20rem;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  max-width: 10rem;
}

.card img {
  width: 150px;
  height: 150px;
  border: #3882f6 1px solid;
  border-radius: 10px;
}

.quote-div {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
}

.quote-div cite {
  display: block;
  font-weight: bold;
  text-align: end;
}

.action-div .center {
  padding: 50px 100px;
  margin: 100px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-div .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.action-div header {
  font-size: 24px;
  font-weight: bolder;
}

.action-div p {
  margin: 0;
  color: #f9faf8;
}

.action-div button {
  background-color: #3882f6;
  color: #f9faf8;
  border: #f9faf8 solid 1px;
  border-radius: 10px;
  font-size: 24px;
  margin: 20px;
  padding: 0.5rem 4rem;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
